{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="message">Your message:</label>
      <br>
      <input name="message" id="message">
      <br>
      <label for="handle">Your name or handle:</label>
      <br>
      <input name="handle" id="handle">
      <br>
      <input type="submit" value="Submit message">
  </form>

  {% if thanks %}
    Thanks for submitting a file!
  {% endif %}
  
  {% if error %}
    Sorry there seems to be an error!
  {% endif %}
{% endblock %}
